<span class="select2 select2-container select2-container--default select2-container--above select2-container--focus"
  dir="ltr" style="width: 484.328px;">
  <span class="selection"><span class="select2-selection select2-selection--multiple" role="combobox"
      aria-haspopup="true" aria-expanded="false" tabindex="-1">
      <ul class="select2-selection__rendered">
        <li class="select2-search select2-search--inline ms-hover">
          <input class="select2-search__field" type="search" tabindex="0" autocomplete="off" autocorrect="off"
            autocapitalize="off" spellcheck="false" role="textbox" aria-autocomplete="list" placeholder=""
            style="width: 0.75em;">
        </li>
      </ul>
    </span>
  </span>
  <span class="dropdown-wrapper" aria-hidden="true">
  </span>
</span>